body {
    background-color: #eeeeee;
    font-family: Arial;
}

.title {
    text-align: center;
    text-decoration: underline;
}

.form-box {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
}

input {
    width: 100%;
    height: 30px;
}

button {
    width: 100%;
    height: 35px;
    background-color: green;
    color: white;
    border: none;
}
