body {
  background: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
}

.box {
  background: #111827;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

textarea {
  width: 300px;
  height: 120px;
  padding: 10px;
}
